<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}">
    <title>Dojo Survey Index</title>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $('select').material_select();
      });
    </script>
            <h3>Cart:</h3>
            {{code|safe}}
  </body>
</html>
