<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QuotingDojo Form</title>
  </head>
  <body>
    <h1>Welcome to the QuotingDojo!</h1>
    <form class="" action="/quotes" method="post">
      Your Name:<input type="text" name="name" value="" required>
      Your Quote:<input type="text" name="quote" value="" required>
      <input type="submit" value="Submit!">
    </form>
    <a href="/quotes">Skip to quotes!</a>
  </body>
</html>
