/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 font-size: 0px;
 line-height: 0px;
}
#wrapper{
 width: 950px;
 height: 600px;
 background-color: silver;
 border: 50px silver;
 margin: 0px auto;
 padding: 10px;
}
#header{
 margin: 0px, 0px, 0px, 0px;
 height: 150px;
 width: 950px;
 background-color: green;
 display: inline-block;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
 margin-top: 10px;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 padding: 20px;
 margin: 10px 0px 10px 10px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 0px 15px 10px 0px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 display: inline-block;
}
