<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1>Make a Choopa!</h1>
    <form class="" action="/choopas" method="post">
      Name:<input type="text" name="name" value="" required>
      Favorite Color:<input type="text" name="fav_color" value="" required>
      Fur Color:<input type="text" name="fur" value="" required>
      Number of Spikes:<input type="text" name="spikes" value="" required>
      <input type="submit" value="Submit!">
    </form>
  </body>
</html>
