<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <title>Dojo Info</title>
  </head>
  <body>
    <h1>Dojo Page</h1>
    <h3>Welcome to the dojo page!</h3>
    <form action='' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
  </body>
</html>
