<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <title>Dojo Survey Index</title>
  </head>
  <body>
    <div class="row">
      <div class="col l6">
        <form action='/results' method='post'>
          {% csrf_token %}
            <h3>Add a Word:</h3>
            <input type='text' name='name'><br>
            <h3>Choose a Color:</h3>
              <p>
                <input class="with-gap" name="color" type="radio" id="test1" value="red-text"/>
                <label for="test1">Red</label>
              </p>
              <p>
                <input class="with-gap" name="color" type="radio" id="test2" value="blue-text"/>
                <label for="test2">Blue</label>
              </p>
              <p>
                <input class="with-gap" name="color" type="radio" id="test3" value="light-green-text"/>
                <label for="test3">Green</label>
              </p>
            <p>
              <input type="checkbox" id="test5" name="size" value="10"/>
              <label for="test5">Large Text</label>
            </p>
            <input type='submit' value='Submit info'>
        </form>
      </div>
      <div class="col l6 align-vertical">
        <h3>You have sumbitted {{ request.session.counter }} times</h3>
        <h1>Submitted Info</h1>
        {{formdata | safe}}
      </div>
    </div>
  </body>
</html>
