<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results</title>
  </head>
  <body>
    <h1>Submitted Information</h1>
    <h2>Name: <%=name%></h2>
    <h2>Dojo Location: <%=location%></h2>
    <h2>Favorite Language: <%=fav_lang%></h2>
    <h2>Comments: <%=comments%></h2>
  </body>
</html>
