<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      {% load static %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}">
    <title>Login</title>
  </head>
  <body>
    <div class="row">
      <div class="col l6 offset-l3">
        <h1 class="center-align">Log In/Registration</h1>
        <form action="/register" method="post">
          {% csrf_token %}
          <div class="input-field">
            <input id="reg_first_name" type="text" name="first_name" value=""><label for="reg_first_name">First Name:</label>
          </div>
          <div class="input-field">
            <input id="reg_last_name" type="text" name="last_name" value=""><label for="reg_last_name">Last Name:</label>
          </div>
          <div class="input-field">
            <input id="reg_email" type="text" name="email" value=""><label for="reg_email">Email:</label>
          </div>
          <div>
            <label for="reg_dob">Birthday:</label><input class="datepicker" id="reg_dob" type="date" name="dob" value="">
          </div>
          <div class="input-field">
            <input id="reg_pass" type="password" name="password" value=""><label for="reg_pass">Password:</label>
          </div>
          <div class="input-field">
            <input id="reg_c_pass" type="password" name="c_password" value=""><label for="reg_c_pass">Confirm Password:</label>
          </div>
          <input class="waves-effect waves-light btn center" type="submit" name="submit" value="Register">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col l6 offset-l3">
        <form class="" action="/login" method="post">
          {% csrf_token %}
          <div class="input-field">
            <input id="log_email" type="text" name="email" value=""><label for="log_email">Email:</label>
          </div>
          <div class="input-field">
            <input id="log_pass" type="password" name="password" value=""><label for="log_pass">Password:</label>
          </div>
          <input class="waves-effect waves-light btn" type="submit" name="submit" value="Login">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col l4 offset-l4">
        <div class="card blue-grey lighten-1">
        {% for message in messages %}
        <p class="red-text text-darken-2 center-align">{{ message }}</p>
        {% endfor %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
    <script type="text/javascript"> $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 108,
    min: new Date(1910,1,1),
    max: true,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });</script>
  </body>
</html>
